@import "grid";
@import "color";
.banner{
   display: flex;
   width: 90%;
//    margin-left: auto;
   margin: 3rem 0 6rem auto;

   .banner_img{
       width: 100%;
       img{
           width: 100%;
       }

   }
   .banner_text{
      margin-top: 5rem;
      padding-right: 8rem;
    width: 100%;
       
       h1{
      
            font-size: 4.5rem;
            font-weight: 700;
            margin: 0;
            line-height: 5rem;
            color: $LightBlack;
            letter-spacing: -.3rem;
        }
       p{
        margin-top: 1rem;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $Grayish_Violet;
        // font-weight: 500;
       }
       button{
        color: $white;
        text-align: center;
        font-weight: 700;
        border-radius: 1.5rem;
        border: 1px solid $Cyan;
        background-color:  $Cyan;
        padding: 0.8rem 2rem;
        font-size: 1.3rem;
        cursor: pointer;
        transition: .3s;
        margin-top: 2rem;
       }
   }
}
@media  screen and (max-width: 850px) {
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        
        .banner_text{
            text-align: center;
            margin-top: 0;
            margin-right: 0;
            padding: 2rem;
            h1{
                font-size: 2.6rem;
                line-height: 3rem;
                letter-spacing: -.15rem;  
                font-weight: 500;
            }
        }
        .banner_img{
            padding-left: 3rem;
        }
    }
    
}