$Gray : hsl(0, 0%, 75%);
$Grayish_Violet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
$white: white;
$black: black;
$LightBlack: #35323e;