.container{
    
    .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-bottom: 20px;
        font-weight: bold;
        .url{
            width:4.5rem;
            height: 2.5rem;
            background-color: black;
            color:#FD7014;
            text-transform: uppercase;
            font-size: 2.5rem;
            padding:10px;
            text-align: center;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          
       }
       .shortern{
           display: flex;
           justify-content: space-between;
           width: 27.5rem;
           height: 2.5rem;
           background-color: #FD7014;
           text-transform: uppercase;
           color: white;
           font-size: 2.5rem;
           padding:10px;
           .refresh_main{
            text-align: end;
            width: 100%;
        .refresh{
            background-color: #FD7014;
            border: none;
            
        
       svg{
           fill:  white;
       }
     }
        }
       }
   }
    
.main{
    width: 40%;
    border: 1px solid black;
    margin:auto;
   
    line-height: 40px;
    background-color: #161212;
    color: #a07c7c;
    border-radius: 5px;
   padding-bottom: 40px;
   font-weight: bold;
   box-shadow: 8px 20px 20px   black;
   .refresh_main{
       text-align: end;
       width: 100%;
   .refresh{
       background-color: #161212;
       border: none;
       right: 0;
   
  svg{
      fill: #FD7014;
  }
}
   }
   
   form{
       display: flex;
       flex-direction: column;
       padding: 20px;
     

       label{
           color: #f88f49;
       }
       .loader{
        margin: auto;
        padding-top: 25px;
         }

       input{
           width: 98%;
           height: 2.5rem;
           font-size: 1.5rem;
           padding-left: 10px;
           border: none;
           &:focus{
               outline: none;
           }
       }
       
       .submit{
        width: 100%;
        height: 2.5rem;
        margin-top: 20px;
        background-color: #FD7014;
    
        color: rgb(214, 211, 211);
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        background-position:left;
       &-sub{
        background: linear-gradient(to left, transparent 50%, teal 50%);
        background-size: 200% 100%;
        background-position: right;
        transition: 4s ease-in-out;
        
        color: #FD7014;
       }
      
       }
       .result_url{
        display: flex;
        width: 100%;
        flex-direction: column;
        
    
       .copy{
        text-align: center;
        padding-top: 10px;
         
             .button{
               margin: auto;
               text-align: center;
               width: 5rem;
               height: 2rem;
               background-color: #FD7014;
               border: none;
               font-size: 0.8rem;
              font-weight: bold;
               text-transform: uppercase;
               color: rgb(214, 211, 211);
               &-btn{
                   background-color: green;
                   transition: 2s;
               }
               
           }

       }
    }
    }
}
}